{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
    {% for room in rooms %}
        <li>{{ room.name|e }} <a href="/booking?id={{room.id}}">Reserve room</a></li>
    {% endfor %}
</ul>
{% endblock %}
