{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
    {% for room in rooms %}
        <li>{{ room.name|e }} <a href="/booking">Reserve room</a></li>
    {% endfor %}
</ul>
{{dump(request)}}
{{dump(bookings)}}
{{dump(test)}}


{% endblock %}
