{% extends 'base.html.twig' %}

{% block title %}Success!
{% endblock %}

{% block body %}
	<h1>Successfully recharged your account</h1>
    <h3>Your have {{newCreditAmount}} credits</h3>
	<a href="/">Back to home page</a>
{% endblock %}
